# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Secrets
.env
.env.*
!.env.example

# Tests & outils
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
